
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Messages</title>
</head>
<body>
<h1>TALK2ME</h1>
<div>
  <form action="/message" method="post">
    Message: <textarea type="text" name="message"></textarea>
    <input type="submit" value="Send">
  </form>
</div>

<div>
  <% @messages.reverse.each do |message| %>
    <div>
    <%= message.id %> 
    <a href = "/message/<%= message.id %>">
    <%= message.twenty_chars %></a> <%= message.format_time %>
    <%end%>
  </div>
  </div>

</body>
</html>




